<!DOCTYPE html>
<html lang='en' style='height: 100%;'>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'>
    <link href='https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap' rel='stylesheet'>
    <title>Welcome to Bilbayt</title>
</head>
<body style='margin: 0; padding: 0; background: #FFFFFF; height: 100%;'>
    <table style='background: #f2f2f2; border: 0; margin: auto; width: 100%; font-family: Arial, Helvetica, sans-serif; height: 100%;'>
        <tr>
            <td>
                <table style='background-color: white; border: 0; width: 100%; max-width: 550px; margin-right:auto; margin-left: auto; font-family: Arial, Helvetica, sans-serif;border:1px solid #e4e8eb;border-top: 2px solid #fc0000; padding-top: 35px; padding-right: 41px; padding-bottom: 42px; padding-left: 40px;'>
                    <tr>
                        <td>
                            <p style='margin: 0;font-size: 16px; font-weight: 500; color: #000000;padding-bottom: 21px;'>Hi <strong>{0},</strong></p>
                            <p style='margin: 0;font-size: 14px;padding-bottom: 24px;font-weight: 400;line-height: 1.72;color: #000000;'>
                                Welcome to Bilbayt.
                            </p>
                            <p style='margin: 0;font-size: 14px;padding-bottom: 24px;font-weight: 400;line-height: 1.72;color: #000000;'>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style='margin: 0;font-size: 14px;font-size: 14px;font-weight: normal;color: #505050;margin-bottom: 3px;'>Thanks,</p>
                            <p style='margin: 0;font-size: 14px;font-size: 14px;font-weight: 500;color: #505050; padding-bottom: 20px;'>Bilbayt Team</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style='margin: 0;font-size: 8px; color: #333333;line-height: 1.75;'>The information is solely intended for the individual/entity it is addressed to. If you are not the intended recipient of this message, please be aware that you are not authorized in any which way whatsoever to read,forward, print, retain,copy or disseminate this message or any part of it. If you have received this e-mail in error, we would request you to please notify the sender immediately by return e-mail and delete.</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>